html{
    background-color:aqua;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color:black;
    color: whitesmoke;
    text-align: center;
    padding: 1em;
}

main {
    background-color: #526D82;
    text-align: center;
    padding: 23px;
}
.celsius {
    padding: 20px 20px;
    margin-left: 25px;
}
.fahrenheit {
    padding: 20px 20px;
    margin-left: 25px;
}
.kelvin {
    padding: 20px 20px;
    margin-left: 25px;
}

label{
    margin: 0.5em;
    color:whitesmoke;
}

input {
    margin: 0.5em;
    color: black;
}

input, button {
    padding: 0.5em;
}

button {
    margin: 0.5em;
    background-color: black;
    color: whitesmoke;
    border:none;
    cursor: pointer;
}

#result {
    font-size: 1.2em;
    margin-top: 1em;
}

.container {
	width: 1100px;
	margin: 0px auto;
    display: table;
}
.footer {
    color: black;
    text-align: center;
}